@page "{id:guid}"
@model TaskFlow.Web.Pages.TaskItems.DetailsModel
@{
}


<h2>Task Details</h2>
<div class="card">
<div class="card-body">
<h5>@Model.viewModel.Title</h5>
<p>@Model.viewModel.Description</p>
<ul>
<li>Priority: @Model.viewModel.Priority</li>
<li>Status: @Model.viewModel.Status</li>
<li>Due Date: @Model.viewModel.DueDate?.ToShortDateString()</li>
</ul>
<a asp-page="Edit" asp-route-id="@Model.viewModel.Id" class="btn btn-primary">Edit</a>
<a asp-page="Index" class="btn btn-secondary">Back</a>
</div>
</div>