@page
@using TaskFlow.Core.Entities
@model TaskFlow.Web.Pages.TaskItems.IndexModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "Task List";
}

<h1>Task List</h1>

<a asp-page="/TaskItems/Create" asp-route-projectId="@Request.Query["projectId"]" class="btn btn-primary mb-3">Create Task</a>

<form method="get" class="mb-3">
    <input type="text" name="SearchText" value="@Model.Filter.SearchText" placeholder="Search..." class="form-control mb-2" />

    <div class="form-check mb-2">
        <input class="form-check-input" type="checkbox" name="SearchInDescription" value="true" @(Model.Filter.SearchInDescription ? "checked" : "") />
        <label class="form-check-label">Search in Description</label>
    </div>

    <select asp-for="Filter.Status" class="form-control mb-2" asp-items="Html.GetEnumSelectList<TaskItemStatus>()">
        <option value="">All Status</option>
    </select>


    <select asp-for="Filter.Priority" class="form-control mb-2" asp-items="Html.GetEnumSelectList<TaskItemPriority>()">
        <option value="">All Priority</option>
    </select>

    <button type="submit" class="btn btn-primary">Filter</button>
</form>

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>
                <a asp-page="./Index"
                   asp-route-SortBy="Title"
                   asp-route-SortDescending="@(Model.Filter.SortBy == "Title" ? !Model.Filter.SortDescending : false)"
                   asp-route-PageNumber="1">
                    Title
                </a>
            </th>

            <th>Description</th>
            <th><a asp-page="./Index" asp-route-SortBy="Priority" asp-route-SortDescending="@(Model.Filter.SortBy == "Priority" ? !Model.Filter.SortDescending : false)">Priority</a></th>
            <th><a asp-page="./Index" asp-route-SortBy="Status" asp-route-SortDescending="@(Model.Filter.SortBy == "Status" ? !Model.Filter.SortDescending : false)">Status</a></th>
            <th><a asp-page="./Index" asp-route-SortBy="DueDate" asp-route-SortDescending="@(Model.Filter.SortBy == "DueDate" ? !Model.Filter.SortDescending : false)">Due Date</a></th>
            <th><a asp-page="./Index" asp-route-SortBy="CreatedAt" asp-route-SortDescending="@(Model.Filter.SortBy == "CreatedAt" ? !Model.Filter.SortDescending : false)">Created At</a></th>
            @*             <td>
                <a asp-page="/Tasks/Edit" asp-route-id="@Model.Id" class="btn btn-sm btn-outline-secondary">Edit</a>
                <form method="post" asp-page-handler="Delete" asp-route-id="@t.Id" class="d-inline">
                    <button type="submit" class="btn btn-sm btn-outline-danger">Delete</button>
                </form>
            </td> *@
        </tr>
    </thead>
    <tbody>
        @foreach (var task in Model.TaskItems)
        {
            <tr>
                <td>@task.Title</td>
                <td>@task.Description</td>
                <td>@task.Priority</td>
                <td>@task.Status</td>
                <td>@task.DueDate?.ToString("yyyy-MM-dd")</td>
                <td>@task.CreatedAt.ToString("yyyy-MM-dd")</td>
            </tr>
        }
    </tbody>
</table>

<nav>
    <ul class="pagination">
        @for (int i = 1; i <= Model.TotalPages; i++)
        {
            <li class="page-item @(Model.Filter.PageNumber == i ? "active" : "")">
                <a class="page-link" asp-page="./Index"
                   asp-route-PageNumber="@i"
                   asp-route-PageSize="@Model.Filter.PageSize"
                   asp-route-SearchText="@Model.Filter.SearchText"
                   asp-route-Priority="@Model.Filter.Priority"
                   asp-route-Status="@Model.Filter.Status"
                   asp-route-SortBy="@Model.Filter.SortBy"
                   asp-route-SortDescending="@Model.Filter.SortDescending">
                    @i
                </a>
            </li>
        }
    </ul>
</nav>
